.App {
  --ui-bg-1: #abdbed;
  --shadow-1: #bbbbbb;
  display: flex;
}

.groupInput {
  background-color: var(--ui-bg-1);
  min-height: 80vh;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px 2px var(--shadow-1);
}

.groupInput h3 {
  margin: 0;
}